@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* global styles */

@font-face {
    font-family: Kanit;
    font-weight: 200;
    font-style: normal;
    src: url(/fonts/Kanit-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: Kanit;
    font-weight: normal;
    font-style: normal;
    src: url(/fonts/Kanit-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Kanit;
    font-weight: 600;
    font-style: normal;
    src: url(/fonts/Kanit-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: Kanit;
    font-weight: bold;
    font-style: normal;
    src: url(/fonts/Kanit-Bold.ttf) format("truetype");
}

body {
    font-family: Kanit;
}